<ion-header>
  <ion-toolbar class="ion-toolbar">
      <ion-row>
          <ion-col size="2">
              <ion-icon  (click)="navTabs2()" class="ion-icon" size="medium" name="arrow-round-back"></ion-icon>
          </ion-col>
          <ion-col size="8">
              <div style="text-align: center;">Address</div>
          </ion-col>
        </ion-row>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-content">
  <ion-row class="ion-row">
    <ion-col size="2">
    </ion-col>
    <ion-col size="8">
        <img class="img" src="../assets/address.png">
    </ion-col>
    <ion-col size="2">
    </ion-col>  
  </ion-row>
  <ion-card>
    <ion-item class="ion-item">
      <div>Delivery Address:</div>
    </ion-item>
    <ion-item class="ion-item">
        <div>N.L.1-B,10/11, Sec-10, Sec-10,</div>
      </ion-item>
      <ion-item class="ion-item">
          <div>Nerul, Navi Mumbai</div>
      </ion-item>
      <ion-item class="ion-item-1">
          <div>400706</div>
        </ion-item>
  </ion-card>
  <ion-row class="ion-row-3">
      <ion-col>
          <ion-button class="ion-button-2" shape="round" expand="full" size="default">
              Save
          </ion-button>
      </ion-col>
  </ion-row>
</ion-content>
