
.ion-toolbar{
    color: rgba(235,37,86,1);
}
.ion-icon{
    padding-left: 20px;
    padding-top: 4px;
}
.ion-row{
    padding-top: 20px;
}
.ion-item{
    padding-top: 7px;
    padding-bottom: 7px;
}
.ion-item-1{
    padding-top: 7px;
}
.ion-button-2{
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    text-transform: none !important;
}