.ion-toolbar{
    color: rgba(235,37,86,1);
}
.ion-icon{
    padding-left: 20px;
    padding-top: 4px;
}
.img{
    align-content: center;
}
.ion-row{
    padding-top: 40px;
}
.ion-row-1{
    padding-top: 30px;
}
.div{
    font-size: 16px;
    color: rgba(235,37,86,1);
    padding-left: 40px;
}
.ion-input{
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 30px;
    margin-right: 30px;
}
.ion-row-2{
    padding-top: 12px;
}
.ion-button-2{
    text-transform: none !important;
    --background: rgba(235,37,86,1);
    padding-left: 50px;
    padding-right: 50px;
}
.ion-row-3{
    padding-top: 30px;
}
