<ion-header class="ion-header">
    <ion-toolbar class="ion-toolbar">
        <ion-row>
            <ion-col size="2">
            </ion-col>
            <ion-col size="8">
                <div style="text-align: center;">Upload Prescription</div>
            </ion-col>
          </ion-row>
    </ion-toolbar>
  </ion-header>
   
  <ion-content padding text-center class="bg-class">
     <ion-row class="ion-row">
         <ion-col>
            <div style="text-align: center;" class="div">Upload Prescription for order medicines</div>
        </ion-col>
    </ion-row>
    <ion-row class="ion-row-1">
            <ion-col>
                <ion-button class="ion-button-1" shape="round" expand="full" size="default" (click)="selectImage()">
                    <ion-icon slot="end" name="arrow-dropright" size="small"></ion-icon>
                    Upload Prescription &nbsp; &nbsp;
                </ion-button>
            </ion-col>
        </ion-row>
    <h5 *ngIf="croppedImagepath.length">Cropped Image</h5>
   
    <p *ngIf="isLoading">Loading ...</p>
   
    <img [src]="croppedImagepath" />
   
  </ion-content>
  