.ion-content{
  --ion-background-color: #f1f1f1 !important
}
.ion-card{
  --background: linear-gradient(180deg, rgba(235,37,86,1) 0%, rgba(167,25,88,1) 50.5%, rgba(145,22,88,1) 100%) !important;
}
.div{
  color: #ffffff;
}
.ion-row{
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  line-height: 30px;
}
.ion-row-1{
  padding-bottom: 20px;
}
.ion-seg{
  --color-activated: #ffffff;
  --color-checked: #ffffff;
  color: #ffffff;
  text-transform: none !important;
}
.ion-card-1{
  --background: #ffffff;
}
.img{
  padding-left: 10px;
}
.ion-row-2{
  padding-bottom: 10px;
  padding-top: 10px;
}
.ion-col{
  padding-left: 12px;
}
.ion-label-1{
  line-height: 10px;
  font-size: 14px;
  
}
.ion-label{
  margin-top: 5px;
  font-size: 16px;
  color: rgba(235,37,86,1);
}
.ion-icon{
  color: rgba(235,37,86,1);
  font-size: 30px;
}
.ion-col-1{
  padding-top: 20px;
  padding-bottom: 10px;
}
.ion-label-2{
  padding-top: 7px;
}
.ion-button-2{
  text-transform: none !important;
  --background: rgba(235,37,86,1);
  padding-left: 120px;
  padding-right: 120px;
}
.ion-icon-1{
  color: #ffffff;
  font-size: 30px;
}