.ion-content{
        --ion-background-color: #f1f1f1 !important
}
.ion-card{
        margin-top: 20px;
        --background: linear-gradient(90deg, rgb(255, 25, 83) 0%, rgba(235,37,86,1) 50.5%, rgb(189, 2, 48) 100%) !important;      
}
.ion-row{
        padding-top: 20px;
        padding-bottom: 20px;
}
.ion-col{
        padding-top: 15px;
}
.img{
        padding-left: 20px;
}
.ion-label{
        color: #ffffff;
        font-size: 16px;
        word-spacing: 3px;
        padding-left: 10px;
}
.div{
        color: #ffffff;
        padding-left: 10px;
        font-size: 14px;
        padding-top: 5px;
}
.ion-item{
        --background: #ffffff!important;
}
.div-1{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        font-size: 16px;
        color: rgba(235,37,86,1);
}
