<ion-header>
</ion-header>

<ion-content class="ion-content">
  <ion-card class="ion-card">
  <ion-row class="ion-row" routerLink="/edit-profile" routerDirection="forward">
    <ion-col size="3">
      <img class="img" src="../assets/user.png">    </ion-col>
    <ion-col class="ion-col" size="9">
        <ion-label class="ion-label">Parth Waghmare</ion-label>
        <div class="div">waghmareparth11@gmail.com</div>
    </ion-col>
  </ion-row>  
  </ion-card>
  <ion-card class="ion-card-1">
    <ion-item class="ion-item" routerLink="/orderhistory" routerDirection="forward">
      <div class="div-1" >Order History</div>
    </ion-item>
    <ion-item class="ion-item" routerLink="/address" routerDirection="forward">
      <div class="div-1">Address</div>
    </ion-item>
    <ion-item class="ion-item" routerLink="/help" routerDirection="forward">
      <div class="div-1">Help & feedback</div>
    </ion-item>
    <ion-item class="ion-item">
      <div class="div-1">App info</div>
    </ion-item>
    <ion-item class="ion-item" routerLink="/slider" routerDirection="forward">
      <div class="div-1">Terms & conditions</div>
    </ion-item>
    <ion-item class="ion-item" routerLink="/change-password" routerDirection="forward">
      <div class="div-1">change password</div>
    </ion-item>
    <ion-item class="ion-item" routerLink="/home" routerDirection="forward">
      <div class="div-1">Log Out</div>
    </ion-item>
  </ion-card>

</ion-content>
