<ion-header>
</ion-header>

<ion-content fullscreen padding scroll-y="false" class="ion-content" ionSlideDidChange="true">
  <ion-slides class="ion-slides" pager="true">
    <ion-slide class="ion-slide">
      <ion-row>
        <ion-col size="12">
            <div class="div">Your <br> pocket pharmacy</div>
            <img class="img" src="../assets/application.png"/>
          </ion-col>
      </ion-row>
      </ion-slide>    
    <ion-slide>
      <img src="../assets/order.png"/>
    </ion-slide>

    <ion-slide>
      <img src="../assets/pay.png"/>
    </ion-slide>

    <ion-slide>
      <img  class="img" src="../assets/delivery.png"/>
    </ion-slide>

  </ion-slides>
</ion-content>
