<ion-header>
</ion-header>
<ion-content padding class="bg-class"> 
<ion-row>
     <ion-col>
         <div class="social" style="width: 100%; text-align: center;">Social Login</div>
         <div style="text-align: center; color: aliceblue;">____________________</div>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="4">
        <ion-button class="ion-button" fill="clear">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
         Facebook
        </ion-button>
    </ion-col>
    <ion-col size="4">
        <ion-button class="ion-button" fill="clear">
         <ion-icon slot="start" name="logo-google"></ion-icon>
         Google &nbsp;  
        </ion-button>
    </ion-col>
    <ion-col size="2"></ion-col>
</ion-row>
<ion-row class="ion-row-1">
    <ion-col>
        <ion-button class="ion-button-1" shape="round" expand="full" size="default" routerLink="/sign-up" routerDirection="forward" >
            <ion-icon slot="end" name="arrow-dropright" size="small"></ion-icon>
            Create New Account &nbsp; &nbsp;
        </ion-button>
    </ion-col>
</ion-row>
<ion-row>
    <ion-col>
        <ion-button class="ion-button-2" shape="round" expand="full" size="default" routerLink="/sign-in" routerDirection="forward" >
            Sign In
        </ion-button>
    </ion-col>
</ion-row>

</ion-content>